In [32]:
import pandas as pd

test_1 = pd.DataFrame({"Score": ['A','B'], "Subject":['Math','Reading']},index=["2024", "2024"])


test_2 = pd.DataFrame({"Score": ['C','A'], "Subject":['Math','Reading']},index=["2025", "2025"])


test_1

     Score  Subject
2024     A     Math
2024     B  Reading

In [33]:
import pandas as pd 
old_scores = pd.read_csv('/Users/marresaburke/Desktop/Report-Card2025/ReportCard2025/KY2024report.csv', index_col = 0)
District = old_scores.groupby(by ='District Name').get_group('Jefferson County')
District.columns

Index(['County Number', 'County Name', 'District Number', 'District Name',
       'School Number', 'School Name', 'School Code', 'State School Id',
       'NCES ID', 'Co-Op', 'Co-Op Code', 'School Type', 'Grade', 'Subject',
       'Demographic', 'Suppressed', 'Novice', 'Apprentice', 'Proficient',
       'Distinguished', 'Proficient / Distinguished'],
      dtype='object')

In [52]:
import pandas as pd 
old_scores = pd.read_csv('/Users/marresaburke/Desktop/Report-Card2025/ReportCard2025/KY2024report.csv', index_col = 0)
District = old_scores.groupby(by ='District Name').get_group('Jefferson County')
Low_Grade = District.groupby('Grade').tail()
grade_breakdown = Low_Grade.groupby(['Grade'])
grade_breakdown